@model Models.User.UserForgotPasswordViewModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info"><b>@ViewData["Message"]</b></div>
}

<form asp-controller="user" asp-action="ForgotPassword" asp-antiforgery="true" method="POST"
    class="card forgotpassword-form">
    <div class="p-4 p-sm-5">
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
                <div class="w-100 position-relative" style="padding-bottom: 54%">
                    Iban Scanner
                </div>
            </div>
        </div>
        <h5 class="text-center text-muted font-weight-normal mb-4">Reset Your Password</h5>
        <hr class="mt-0 mb-4">
        <p>
            Enter your e-mail address and we will send you a link to reset your password.
        </p>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Enter your e-mail address.">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send</button>
    </div>
</form>